* {
  font-size: 14px;
  font-family: "Comfortaa-regular";
  color: #FFF;
}

body {
  margin: 0;
  padding: 0;
  background-color: #6699CC;
}

.header {
  width: 100%;
  background-color: #003366;
  box-sizing: border-box;
  .logo {
    float: left;
    box-sizing: border-box;
    width: 10%;
    height: 100%;
    padding: 1vw;
    img {
      max-width: 100px;
      background-color: #FF9933;
      box-shadow: 2px 2px 2px 0 #993300;
      border-radius: 50%;
      padding: 0.2em;
      display: table;
    }
  }
  .caption {
    width: 85%;
    font-size: 3em;
    font-family: Lobster;
    color: #FF9933;
    text-shadow: 2px 2px 1px #993300;
  }
  .sub-text {
    font-size: 0.8vw;
  }
}

.menu {
  width: 100%;
  margin: 0 auto;
  background-color: #006699;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  ul.items {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    li {
      display: block;
      padding: 0.5em;
      float: left;
      text-decoration: none;
      box-sizing: border-box;
      cursor: pointer;
      border-bottom: solid 3px transparent;
      font-size: 1.2vw;
    }
    li:hover {
      box-sizing: border-box;
      border-bottom: solid 3px #FF9933; 
      color: #FF9933;
    }
  }
}

.main {
  .screen {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .image {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
      img {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        display: block;
      }
    }
    .text {
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding: 1em;
      margin: 0;
      border: 0;
      h3.title {
        font-size: 1.7vw;
        margin: 0;
        padding: 0;
        text-align: center;
        font-family: Lobster;
        color: #FF9933;
        text-shadow: 2px 2px 1px #993300;
      }
      .content {
        padding: 0.5em;
        margin-top: 0.5em;
        font-size: 1.1vw;
        line-height: 1.4em;
        color: #FFF;
        text-align: justify;
        text-shadow: 1px 2px 0 #3399CC;
      }
    }
  }
}
.scrollTop {
  display: inline-block;
  position: fixed;
  bottom: 3em;
  right: 2em;
  padding: 1em;
  color:black;
  cursor: pointer;
  background-color: rgba(255,255,255,0.5);
}
.centered {
  text-align: center;
}

.hidden {
  display: none;
}

.clearfix {
  display: table;
  width: 100%;
  content: "";
  clear: both;
}